form{
    border: 10px solid rgb(14, 10, 27);
position: relative;
height: 300px;
text-align: center;
width: 300px;
top: 150px;
}
.btn{
    position: relative;
    
    top: 100px;
}
body{
    display: flex;
    justify-content: center;
}
.form-group{
    position: relative;
    top: 10px;
}

.form-check{
    position: relative;
    top: 40px;
}